:root {
    --dark-green: #2C5E2E;
    --light-green: #70B85D;
    --off-white: #FFFEF1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--off-white);
    color: var(--dark-green);
}

header {
    background-color: var(--dark-green);
    color: var(--off-white);
    padding: 10px;
    text-align: center;
}

footer {
    background-color: var(--dark-green);
    color: var(--light-green);
    padding: 30px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

hr {
    border: 1px solid var(--dark-green);
}

img {
    width: 100%;
}

select, input {
    padding: 5px;
    border: 2px solid var(--dark-green);
    color: var(--dark-green);
}

button {
    padding: 10px;
    outline: none;
    border: 2px solid white;
    background-color: var(--dark-green);
    border-radius: 10px;
    color: var(--off-white);
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

p {
    color: #2C5E2E;
}

h1 {
    font-size: 46px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.hidden {
    display: none;
}

.title {
    text-align: center;
}

.content-container {
    width: 95%;
    margin: 15px auto;
    padding-bottom: 100px;
}

/* Nav */

.nav-tabs {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 30px;
    padding: 30px 0 11px 0;
    border-bottom: 2px solid var(--dark-green);
    background-color: var(--dark-green);
}

.nav-link {
    font-size: x-large;
    padding: 10px;
    margin: 0 5px;
    background-color: var(--off-white);
    border-bottom: 2px solid var(--dark-green);
    border-radius: 10px 10px 0 0;
    color: var(--dark-green);
    border-top: 2px solid var(--dark-green);
    border-left: 2px solid var(--dark-green);
    border-right: 2px solid var(--dark-green);
}

.nav-link:hover {
    color: var(--light-green);
}

.active {
    border-bottom: none;
    padding-bottom: 12px;
    color: var(--dark-green);
}

/* MyDogs Page */

.add-dog {
    display: flex;
    justify-content: center;
}

.add-dog-btn {
    margin: 10px;
}

.new-dog-info {
    border: 2px solid var(--dark-green);
    padding: 10px;
}

.new-dog-info button{
    width: 100px;
}

.create-dog-btn {
    display: flex;
    justify-content: center;
}

.create-dog-btn button {
    margin: 10px;
}

.questions-answers-container {
    display: flex;
    justify-content: center;
}

.questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.questions h3 {
    margin: 8px 0;
}

.answers input {
    margin: 5px 0;
}

.questions, .answers {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.list-of-dogs {
    display: flex;
    justify-content: center;
}

.list-of-dogs button {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.dog-parent-container {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.dog-parent-container p {
    font-size: x-large;
}

.parents {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dog-image-information {
    display: flex;
    justify-content: flex-start;
}

.dog-image-container {
    max-width: 200px;
    min-width: 50px;
    margin-right: 10px;
}

.dog-information-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dog-image {
    border: 5px solid var(--dark-green);
}

.exercise-information {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0;
}

.graph-container, .chart-container {
    max-width: 500px;
}

.add-exercise {
    margin: 30px 0;
}

.add-exercise h2 {
    text-align: center;
}

.exercise-btn-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.exercise-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.exercise-options input {
    margin-top: 5px;
}

.words {
    align-items: flex-end;
    margin-right: 10px;
}

.words h3 {
    margin: 5px 0;
}

.words, .options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Explore Page */

.search-results-container {
    display: flex;
    justify-content: center;
}

.search-results-container h3, .search-results-container button, .search-results-container input {
    margin-bottom: 10px;
}

.search-results-container h3 {
    margin-right: 5px;
}

.search-results-container input {
    width: 50%;
}

.search-container, .results-container {
    border: 2px solid var(--dark-green);
    width: 50%;
    margin: 10px;
    padding: 10px;
}

.search-container {
    display: flex;
    flex-direction: column;
}

.search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.results {
    border: 2px solid var(--dark-green);
    padding: 10px;
    margin: 20px;
}

.search-container hr {
    width: 100%;
    margin: 10px 0;
}

.search-btn {
    display: flex;
    justify-content: center;
}

/* Find Furriends Page */

.friend-container {
    justify-content: center;
    border: 2px solid var(--dark-green);
    width: 50%;
    margin: 10px;
    padding: 10px;
}

/* Home/Login Page */

.homepage-description p {
    font-size: x-large;
}

.login-signup-container {
    display: flex;
    justify-content: center;
    color: var(--dark-green);
}

.login-signup-container input {
    margin: 5px 0;
    border: 2px solid var(--dark-green);
    color: var(--dark-green);
}

.login-signup-container h2 {
    text-align: center;
}

.login-signup-container h3 {
    margin: 8px 0;
}

.login-signup-container button {
    background-color: var(--dark-green);
    color: var(--off-white);
    border: 2px solid var(--light-green);
    font-size: large;
    font-weight: bold;
}

.login-container, .signup-container {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--dark-green);
    padding: 20px;
    margin: 10px;
}

.descriptors-inputs-container {
    display: flex;
}

.descriptors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.descritpors, .inputs {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.footer a {
    color: VAR(--off-white);
}

.footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {

    .search-results-container {
        flex-direction: column;
        align-items: center;
    }

    .search-container, .results-container {
        width: 100%;
    }

    .login-signup-container {
        flex-direction: column;
        align-items: center;
    }

}